.container{
    background-color: brown;
}

.container p{
    text-align: right;
    font-size: 32px;
    font-weight: 800;

}

.circle-box{
    background: #0000FF;
    padding: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.circle-box > div{
    width: 256px;
    height: 256px;
    border-radius:100%;
    background:#FFFFFF;

}
.circle-box > div > p{
    color:#FF0000
    
}
